
/* Heade-style */

.header_wrapper {
	background: #2F4B6E;
	height: 190px;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	
}


.img:hover {
	-webkit-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.img {
	transition: 5s;
}


.lefttext {
	display: flex;
	flex-direction: column;
}

.lefttext1 {
	font-size: 18px;
	color: white;
}

.lefttext2 {
	font-size: 14px;
	color: white;
}
	

.left_header {
	
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	
}

.img1text1 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.text1:hover {
color: red;
}

.text2:hover {
color: red;
}

.text3:hover {
color: red;
}

.left_main_img1 {
 transition: 5s;
}
 
 .left_main_img1:hover {
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
 }
	

	
.img2text2 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.img3text3 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.right_header {
	display: flex;
	flex-direction: column;
}

.text1 {
	font-size: 14px;
	color: white;
	padding-left: 5px;
	padding-bottom: 10px;
}

.text2 {
	font-size: 14px;
	color: white;
	padding-left: 5px;
	padding-bottom: 10px;
}

.text3 {
	font-size: 14px;
	color: white;
	padding-left: 5px;
}


/* Main_info-code */

.main_info_left {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.main_info_right {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.main_info {
	display: flex;
	justify-content: space-evenly;
	background-color: #F4FCFF;
}

.column11 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: 30px;
	align-items: center;
}

.left_main1 {
	padding-left: 5px;
	font-size: 13px;
}

.right_main1 {
	font-size: 13px;
}


.right_main_img1 {
	padding-right: 3px;
}


.column12 {
	margin-top: 30px;
	margin-left: 15px;
}
	
.column21 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: 30px;
	align-items: center;
}
	

.column22 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: 30px;
	padding-left: 20px;
}

.left_main_text1 {
	font-size: 10px;
	color: black;
}

.middle_left1 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: 30px;
	align-items: center;
}

.middle_left1_text {
	padding-left: 5px;
	font-size: 13px;
	
}

.middle_left2 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: 30px;
	padding-left: 30px;
}


.middle_left2_сircle1 {
border: 5px solid #1C88F3;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #1C88F3;
}

.middle_left2_text {
	padding-left: 15px;
	font-size: 10px;
}

.middle_left3 {
	border-left: 2px solid #1C88F3;
	margin-left: 36px;
	height: 70px;
}

.middle_left3_p1 {
	font-size: 10px;
	padding-left: 24px;
}

.middle_left3_p2 {
	font-size: 10px;
	padding-left: 24px;
}


.middle_left4 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: 15px;
	padding-left: 30px;
}

.middle_left4_circle1 {
	border: 5px solid #1C88F3;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #1C88F3;
}

.middle_left4_text {
	padding-left: 15px;
	font-size: 10px;
	opacity: 0.5;
	color: gray;
}

.middle_left5_p1 {
	padding-left: 60px;
	font-size: 10px;
	opacity: 0.5;
	color: gray;
}

.middle_left5_p2 {
	padding-left: 60px;
	font-size: 10px;
	opacity: 0.5;
	color: gray;
}

.middle_left6 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding-top: 60px;
}


.middle_left6_text {
	font-size: 13px;
	padding-left: 5px;
}

.middle_left7 {
	font-size: 10px;
	padding-left: 15px;
	padding-top: 50px;
}


.middle_right1 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding-top: 65px;
}
.middle_right1_text {
	font-size: 13px;
}

.middle_right1_button {
	padding-right: 5px;
}

.middle_right2 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: 30px;
	padding-left: 30px;
}

.middle_right2_text {
	font-size: 10px;
	padding-left: 15px;
}

.middle_right2_circle {
	border: 5px solid #1C88F3;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #1C88F3;
}

.middle_right3_p1 {
	font-size: 10px;
	padding-left: 23px;
}

.middle_right3_p2 {
	font-size: 10px;
	padding-left: 23px;
}

.middle_right3 {
	margin-left: 37px;
	border-left: 2px solid #1C88F3;
	height: 70px;
	
}


.middle_right4_circle {
	border: 5px solid #1C88F3;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #1C88F3;
}

.middle_right4 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: 15px;
	padding-left: 30px;
}

.middle_right4_text {
	font-size: 10px;
	padding-left: 15px;
}

.middle_right5_p1 {
	font-size: 10px;
	padding-left: 23px;
}

.middle_right5_p2 {
	font-size: 10px;
	padding-left: 23px;
}

.middle_right5 {
	border-left: 2px solid #1C88F3;
	height: 65px;
	margin-left: 37px;
}

.middle_right6_circle {
	border: 5px solid #1C88F3;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #1C88F3;
}

.middle_right6 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-left: 30px;
	padding-top: 15px;
}

.middle_right6_text {
	font-size: 10px;
	padding-left: 15px;
}

.middle_right7_p1 {
	font-size: 10px;
	padding-left: 60px;
}

.middle_right7_p2 {
	font-size: 10px;
	padding-left: 60px;
}

.middle_right8 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding-top: 25px;
}

.middle_right8_text {
	font-size: 13px;
	padding-left: 5px;
}

.middle_right9 {
	font-size: 10px;
	padding-left: 15px;
	padding-top: 25px;
}

.under1 {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}
	
.tilted1:hover {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
}

.tilted1 {
	transition: 5s;
}

